/* Liszt styles */
/* -------------------------------------------------- */
/* Base */
/* -------------------------------------------------- */
/* hsl(319, 82%, 47%); /* hsl(11, 87%, 44%); */
/* hsl(198, 87%, 44%); */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Charter, Arial, sans-serif; }

body {
  -webkit-font-feature-settings: 'liga';
  margin: 0;
  line-height: 1.4em;
  padding: 0;
  text-rendering: optimizeLegibility; }

article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, main {
  display: block; }

hr {
  background: #ccc;
  border-width: 0;
  height: 1px;
  margin: 2em auto;
  text-align: center;
  width: 100%; }

p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.hidden {
  display: none; }

@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body > header {
  background: #2e2e2e;
  padding: 10px 20px; }
  body > header > .container {
    display: flex;
    /* Liszt */
    /* Search/add */ }
    body > header > .container h2 {
      color: #888;
      flex: 1;
      font-size: 1.1em;
      font-weight: normal;
      letter-spacing: 0.05em;
      line-height: 1.2em;
      margin: 0;
      text-transform: uppercase; }
      body > header > .container h2 a {
        color: #888;
        display: inline-block;
        text-decoration: none; }
        body > header > .container h2 a:hover {
          color: #aeaeae; }
    body > header > .container .controls a {
      color: #999999;
      cursor: pointer;
      font-size: 1.1em;
      text-decoration: none;
      /* Spacing */ }
      body > header > .container .controls a:hover {
        color: #bfbfbf; }
      body > header > .container .controls a + a {
        margin-left: 10px; }

section#page-header {
  background: #eee;
  padding: 15px 20px 15px;
  /* Page title */ }
  section#page-header h1 {
    color: #222;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    line-height: 1.1em; }
    section#page-header h1 a {
      font-size: 1.3em;
      text-decoration: none; }
      section#page-header h1 a:hover {
        color: #444; }
      section#page-header h1 a.context {
        color: #d03535; }
        section#page-header h1 a.context:hover {
          color: #952323; }
      section#page-header h1 a.list {
        color: #0f63d2; }
        section#page-header h1 a.list:hover {
          color: #0a418a; }
      section#page-header h1 a.tag {
        color: #409e24; }
        section#page-header h1 a.tag:hover {
          color: #276016; }
    section#page-header h1 .main {
      display: block;
      font-size: 1.6em !important;
      line-height: 1em; }
    section#page-header h1 a + .main {
      margin-top: 7px; }
    section#page-header h1 span.context {
      color: #d03535; }
    section#page-header h1 span.list {
      color: #0f63d2; }
    section#page-header h1 span.tag {
      color: #409e24; }

.container {
  margin: 0px auto;
  max-width: 400px; }

/* Trays */
/* -------------------------------------------------- */
.tray {
  display: none;
  padding: 0 20px; }

/* Search tray */
#search-tray {
  background: #43709d;
  color: #fff; }
  #search-tray input[type=text] {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
    width: 100%; }
    #search-tray input[type=text]:focus {
      outline: none; }

/* Add tray */
#add-tray {
  border-bottom: solid 5px #0f63d2; }
  #add-tray textarea {
    border: none;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 15px 0 10px;
    resize: none;
    width: 100%; }
    #add-tray textarea:focus {
      outline: none; }
  #add-tray a#save-button {
    color: #0f97d2;
    display: block;
    padding: 3px 0 8px;
    text-decoration: none; }
    #add-tray a#save-button:hover {
      color: #3bbbf1; }

/* Content */
/* -------------------------------------------------- */
main#content {
  padding: 20px;
  padding-bottom: 100px;
  /* Home page */
  /* Lists */
  /* Items */
  /* Search results */ }
  main#content .links {
    font-size: 1.2em; }
    main#content .links a {
      color: #409e24;
      margin-right: 10px;
      text-decoration: none; }
      main#content .links a:hover {
        color: #276016; }
  main#content ul.objects {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    /* When used as heading (contexts on tag page) */ }
    main#content ul.objects li {
      align-items: flex-start;
      display: flex;
      padding: 8px 0;
      /* Content wrapper */
      /* Star */
      /* Handle */
      /* Subtitle */
      /* Placeholder for sorting */ }
      main#content ul.objects li > div.wrapper {
        flex: 1;
        word-wrap: break-word; }
        main#content ul.objects li > div.wrapper .edit-controls {
          display: none; }
          main#content ul.objects li > div.wrapper .edit-controls textarea {
            border: none;
            font-size: 1.2em;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            resize: none;
            width: 100%; }
            main#content ul.objects li > div.wrapper .edit-controls textarea:focus {
              outline: none; }
          main#content ul.objects li > div.wrapper .edit-controls .group {
            align-items: center;
            display: flex;
            font-size: .8em; }
            main#content ul.objects li > div.wrapper .edit-controls .group label {
              font-style: italic;
              margin-right: 10px;
              max-width: 60px; }
            main#content ul.objects li > div.wrapper .edit-controls .group input[type=text] {
              border: solid 1px #ccc;
              border-radius: 2px;
              flex: 1;
              font-size: 1.5em;
              line-height: 1.1em;
              padding: 2px 5px; }
              main#content ul.objects li > div.wrapper .edit-controls .group input[type=text]:focus {
                outline: none; }
            main#content ul.objects li > div.wrapper .edit-controls .group + .group {
              margin-top: 10px; }
            main#content ul.objects li > div.wrapper .edit-controls .group.context input {
              color: #d03535; }
            main#content ul.objects li > div.wrapper .edit-controls .group.list input {
              color: #0f63d2; }
            main#content ul.objects li > div.wrapper .edit-controls .group.tag input {
              color: #409e24; }
        main#content ul.objects li > div.wrapper .buttons {
          display: flex;
          margin-top: 10px; }
          main#content ul.objects li > div.wrapper .buttons .button {
            background: #eee;
            border: none;
            border-radius: 3px;
            color: #0f97d2;
            flex: 1;
            font-size: 1.1em;
            padding: 3px 0 5px;
            text-align: center;
            text-decoration: none;
            /* Spacing */ }
            main#content ul.objects li > div.wrapper .buttons .button:hover {
              color: #3bbbf1; }
            main#content ul.objects li > div.wrapper .buttons .button.cancel {
              color: #999; }
              main#content ul.objects li > div.wrapper .buttons .button.cancel:hover {
                color: #bfbfbf; }
            main#content ul.objects li > div.wrapper .buttons .button + .button {
              margin-left: 5px; }
      main#content ul.objects li .star {
        -webkit-user-select: none;
        color: #eba3c9;
        font-size: 1.2em;
        margin-left: 10px; }
        main#content ul.objects li .star.hide {
          display: none; }
      main#content ul.objects li .handle {
        -webkit-user-select: none;
        color: #bbb;
        cursor: move;
        font-size: 1.5em;
        margin-left: 15px; }
      main#content ul.objects li span.subtitle {
        color: #a6a6a6;
        display: block;
        font-size: 1em;
        font-style: italic;
        line-height: 1.2em;
        margin-top: 3px;
        word-wrap: break-word; }
        main#content ul.objects li span.subtitle a {
          text-decoration: none; }
          main#content ul.objects li span.subtitle a.context {
            color: #d03535; }
            main#content ul.objects li span.subtitle a.context:hover {
              color: #952323; }
          main#content ul.objects li span.subtitle a.list {
            color: #0f63d2; }
            main#content ul.objects li span.subtitle a.list:hover {
              color: #0a418a; }
      main#content ul.objects li.placeholder {
        background: #eee; }
    main#content ul.objects.heading {
      margin-bottom: 0; }
  main#content ul.lists {
    /* Context-specific stuff */ }
    main#content ul.lists li.list {
      /* List name */ }
      main#content ul.lists li.list .wrapper > a {
        color: #0f63d2;
        display: block;
        font-size: 1.4em;
        line-height: 1.1em;
        text-decoration: none; }
        main#content ul.lists li.list .wrapper > a:hover {
          color: #0a418a; }
    main#content ul.lists.contexts li.list a {
      color: #d03535; }
      main#content ul.lists.contexts li.list a:hover {
        color: #952323; }
  main#content ul.items li.item {
    /* Checkbox */
    /* Label */ }
    main#content ul.items li.item input[type=checkbox] {
      -webkit-user-select: none;
      -webkit-appearance: none;
      border: solid 1px #ccc;
      border-radius: 2px;
      cursor: pointer;
      font-size: 1.2em;
      margin: 2px 11px 0 0;
      width: 20px;
      height: 20px; }
      main#content ul.items li.item input[type=checkbox]:focus {
        outline: none; }
      main#content ul.items li.item input[type=checkbox]:checked {
        background: #444;
        border-color: #444; }
        main#content ul.items li.item input[type=checkbox]:checked:hover {
          background: #246189;
          border-color: #246189; }
    main#content ul.items li.item label {
      color: #333333;
      cursor: pointer;
      display: block;
      flex: 1;
      font-size: 1.2em;
      line-height: 1.2em;
      -webkit-user-select: none; }
      main#content ul.items li.item label .tag {
        color: #409e24;
        font-size: .8em;
        text-decoration: none; }
        main#content ul.items li.item label .tag:hover {
          color: #276016; }
  main#content .results h2 {
    border-bottom: solid 1px #ddd;
    color: #ccc;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em 0;
    padding-bottom: 1px; }

/*# sourceMappingURL=style.css.map */
