/* Liszt styles */
/* -------------------------------------------------- */
/* Base */
/* -------------------------------------------------- */
/* hsl(319, 82%, 47%); /* hsl(11, 87%, 44%); */
/* hsl(198, 87%, 44%); */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Charter, Arial, sans-serif; }

body {
  -webkit-font-feature-settings: 'liga';
  margin: 0;
  line-height: 1.4em;
  padding: 0;
  text-rendering: optimizeLegibility; }

article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, main {
  display: block; }

.wrapper {
  width: 100%; }

hr {
  background: #ccc;
  border-width: 0;
  height: 1px;
  margin: 2em auto;
  text-align: center;
  width: 100%; }

p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.hidden {
  display: none; }

@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("../fonts/charter/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Login page */
form.login {
  margin-top: 1em;
  padding-bottom: 1em; }

form.login .group label {
  color: #888;
  display: block;
  margin-bottom: .2em; }

form.login .group section {
  margin-bottom: 1em; }

form.login .group section input[type=text] {
  font-size: 1.3em;
  padding: 3px 5px; }

form.login .group section input[type=password] {
  font-size: 1.3em;
  padding: 3px 5px; }

form.login input.button {
  background: #64a7c9;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 4px 10px 6px;
  -webkit-appearance: none; }

form.login input.button:hover {
  background: #444; }

#page header[role=banner] {
  background: #2f343d;
  padding: 0 20px; }
  #page header[role=banner] > .container {
    display: flex; }
    #page header[role=banner] > .container .controls {
      margin-right: -10px; }
      #page header[role=banner] > .container .controls.left {
        flex: 1;
        margin-left: -10px;
        margin-right: 0; }
      #page header[role=banner] > .container .controls a {
        color: #a5b0c0;
        cursor: pointer;
        display: inline-block;
        font-size: 1.5em;
        padding: 13px 10px 14px;
        text-decoration: none; }
        #page header[role=banner] > .container .controls a:hover {
          color: #f0f2f4; }
        #page header[role=banner] > .container .controls a.menu {
          line-height: 11px;
          vertical-align: top; }
        #page header[role=banner] > .container .controls a svg {
          cursor: pointer;
          height: .8em;
          width: .8em; }
          #page header[role=banner] > .container .controls a svg path {
            fill: #a5b0c0; }
          #page header[role=banner] > .container .controls a svg:hover path {
            fill: #f0f2f4; }

section#page-header {
  background: #2f333d;
  border-bottom: solid 5px #93c473;
  padding: 6px 20px 15px;
  /* Page title */ }
  section#page-header h1 {
    color: #222;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    line-height: 1.1em; }
    section#page-header h1 a {
      font-size: 1.3em;
      text-decoration: none; }
      section#page-header h1 a:hover {
        color: #444; }
      section#page-header h1 a.context {
        color: #fff; }
        section#page-header h1 a.context span.selector {
          color: #aa5a76;
          margin-right: 1px; }
        section#page-header h1 a.context:hover {
          color: #d95e89; }
      section#page-header h1 a.list {
        color: #fff; }
        section#page-header h1 a.list span.selector {
          color: #308ab0;
          margin-right: 1px; }
        section#page-header h1 a.list:hover {
          color: #24b3f0; }
      section#page-header h1 a.tag {
        color: #fff; }
        section#page-header h1 a.tag span.selector {
          color: #5b7b65;
          margin-right: 1px; }
        section#page-header h1 a.tag:hover {
          color: #4ebc70; }
      section#page-header h1 a.starred {
        color: #fff; }
        section#page-header h1 a.starred span.selector {
          color: #7b5b5b;
          margin-right: 1px; }
        section#page-header h1 a.starred:hover {
          color: #bc4e4e; }
    section#page-header h1 .main {
      display: block;
      font-size: 1.6em !important;
      line-height: 1em; }
    section#page-header h1 a + .main {
      margin-top: 7px; }
    section#page-header h1 span.context {
      color: #fff; }
      section#page-header h1 span.context span.selector {
        color: #aa5a76;
        margin-right: 1px; }
    section#page-header h1 span.list {
      color: #fff; }
      section#page-header h1 span.list span.selector {
        color: #308ab0;
        margin-right: 1px; }
    section#page-header h1 span.tag {
      color: #fff; }
      section#page-header h1 span.tag span.selector {
        color: #5b7b65;
        margin-right: 1px; }
    section#page-header h1 span.starred {
      color: #fff; }
      section#page-header h1 span.starred span.selector {
        color: #7b5b5b;
        margin-right: 1px; }

.container {
  margin: 0px auto;
  max-width: 450px; }

/* Navigation */
/* -------------------------------------------------- */
nav[role=menu] {
  -moz-transition: -moz-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: -o-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-overflow-scrolling: touch;
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
  background: #1c1c1c;
  float: left;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 0; }
  nav[role=menu] a {
    color: #fff;
    display: block;
    padding: .3em 25px;
    text-align: right;
    text-decoration: none; }
    nav[role=menu] a:hover {
      background: #363636;
      color: #fff; }
    nav[role=menu] a span.selector {
      color: #ba948c;
      margin-right: 1px; }
  nav[role=menu] > span {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: .3em 25px;
    text-align: right;
    text-decoration: none; }
    nav[role=menu] > span:hover {
      background: #363636;
      color: #fff; }
  nav[role=menu] .group + .group {
    margin-top: 1.45em; }
  nav[role=menu] .group.system a {
    color: #bbd2e2;
    font-size: .9em; }
  nav[role=menu] .group.system span {
    color: #bbd2e2;
    font-size: .9em; }
  nav[role=menu] .group h2 {
    color: #444;
    font-size: .8em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0 25px;
    text-align: right;
    text-transform: uppercase; }

body.active-nav nav[role=menu] {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
body.active-nav #page {
  -moz-transition: -moz-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: -o-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  box-shadow: -1px 0 25px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%; }
  body.active-nav #page .mask {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000; }

/* Trays */
/* -------------------------------------------------- */
.tray {
  display: none;
  padding: 0 20px; }

/* Search tray */
#search-tray {
  background: #43709d;
  color: #fff; }
  #search-tray input[type=text] {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
    width: 100%; }
    #search-tray input[type=text]:focus {
      outline: none; }

/* Add tray */
#add-tray {
  border-bottom: solid 5px #83afce; }
  #add-tray textarea {
    border: none;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 15px 0 10px;
    resize: none;
    width: 100%; }
    #add-tray textarea:focus {
      outline: none; }
  #add-tray a#save-button {
    color: #0f97d2;
    display: block;
    padding: 3px 0 8px;
    text-decoration: none; }
    #add-tray a#save-button:hover {
      color: #3bbbf1; }

/* Content */
/* -------------------------------------------------- */
main#content {
  padding: 20px;
  padding-bottom: 100px;
  /* Home page */
  /* Lists */
  /* Items */
  /* Search results */ }
  main#content .links {
    font-size: 1.2em; }
    main#content .links a {
      color: #3b9b59;
      margin-right: 10px;
      text-decoration: none; }
      main#content .links a:hover {
        color: #266439; }
  main#content ul.objects {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    /* When used as heading (contexts on tag page) */ }
    main#content ul.objects li {
      align-items: flex-start;
      display: flex;
      padding: 8px 0;
      /* Content wrapper */
      /* Star */
      /* Handle */
      /* Subtitle */
      /* Placeholder for sorting */
      /* List editing */ }
      main#content ul.objects li > div.wrapper {
        -webkit-flex: 1;
        -webkit-hyphens: auto;
        flex: 1;
        hyphens: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word; }
        main#content ul.objects li > div.wrapper .edit-controls {
          display: none; }
          main#content ul.objects li > div.wrapper .edit-controls textarea {
            border: none;
            font-size: 1.2em;
            line-height: 1.2em;
            margin: 0 -5px;
            padding: 0 5px;
            resize: none;
            width: 100%; }
            main#content ul.objects li > div.wrapper .edit-controls textarea:focus {
              outline: none; }
            main#content ul.objects li > div.wrapper .edit-controls textarea.item-metadata, main#content ul.objects li > div.wrapper .edit-controls textarea.list-metadata {
              color: #666;
              font-size: 1.1em;
              font-style: italic;
              margin-bottom: 5px;
              margin-top: 5px; }
          main#content ul.objects li > div.wrapper .edit-controls .group {
            align-items: center;
            display: flex;
            font-size: .8em; }
            main#content ul.objects li > div.wrapper .edit-controls .group label {
              font-style: italic;
              margin-right: 10px;
              max-width: 60px; }
            main#content ul.objects li > div.wrapper .edit-controls .group input[type=text] {
              border: solid 1px #ccc;
              border-radius: 2px;
              flex: 1;
              font-size: 1.5em;
              line-height: 1.1em;
              padding: 2px 5px; }
              main#content ul.objects li > div.wrapper .edit-controls .group input[type=text]:focus {
                outline: none; }
            main#content ul.objects li > div.wrapper .edit-controls .group + .group {
              margin-top: 10px; }
            main#content ul.objects li > div.wrapper .edit-controls .group.context input {
              color: #d0356b; }
            main#content ul.objects li > div.wrapper .edit-controls .group.list input {
              color: #0f97d2; }
            main#content ul.objects li > div.wrapper .edit-controls .group.tag input {
              color: #3b9b59; }
          main#content ul.objects li > div.wrapper .edit-controls .meta {
            border: solid 1px #ddd;
            border-radius: 3px;
            display: -webkit-flex;
            display: flex;
            margin: .5em 0 1.5em;
            padding: 5px 9px; }
            main#content ul.objects li > div.wrapper .edit-controls .meta .left {
              -webkit-flex: 1;
              flex: 1; }
            main#content ul.objects li > div.wrapper .edit-controls .meta .right {
              -webkit-flex: 1;
              flex: 1;
              text-align: right; }
            main#content ul.objects li > div.wrapper .edit-controls .meta .star {
              color: #ddd;
              cursor: pointer;
              margin-left: 0; }
              main#content ul.objects li > div.wrapper .edit-controls .meta .star:before {
                content: '\2605'; }
              main#content ul.objects li > div.wrapper .edit-controls .meta .star:hover {
                color: #444; }
              main#content ul.objects li > div.wrapper .edit-controls .meta .star.selected {
                color: #111; }
        main#content ul.objects li > div.wrapper .buttons {
          display: flex;
          margin-top: 10px; }
          main#content ul.objects li > div.wrapper .buttons .button {
            background: #eee;
            border: none;
            border-radius: 3px;
            color: #0f97d2;
            flex: 1;
            font-size: 1.1em;
            padding: 3px 0 5px;
            text-align: center;
            text-decoration: none;
            /* Spacing */ }
            main#content ul.objects li > div.wrapper .buttons .button:hover {
              color: #3bbbf1; }
            main#content ul.objects li > div.wrapper .buttons .button.cancel {
              color: #999; }
              main#content ul.objects li > div.wrapper .buttons .button.cancel:hover {
                color: #bfbfbf; }
            main#content ul.objects li > div.wrapper .buttons .button + .button {
              margin-left: 5px; }
      main#content ul.objects li .star {
        -webkit-user-select: none;
        color: #edcfcf;
        font-size: 1.2em;
        margin-left: 10px; }
        main#content ul.objects li .star.hide {
          display: none; }
      main#content ul.objects li .handle {
        -webkit-user-select: none;
        color: #bbb;
        cursor: move;
        font-size: 1.5em;
        margin-left: 8px; }
      main#content ul.objects li span.subtitle {
        color: #a6a6a6;
        display: block;
        font-size: 1em;
        font-style: italic;
        line-height: 1.2em;
        margin-top: 3px;
        word-wrap: break-word; }
        main#content ul.objects li span.subtitle a {
          text-decoration: none; }
          main#content ul.objects li span.subtitle a.context {
            color: #d0356b; }
            main#content ul.objects li span.subtitle a.context:hover {
              color: #95234b; }
          main#content ul.objects li span.subtitle a.list {
            color: #0f97d2; }
            main#content ul.objects li span.subtitle a.list:hover {
              color: #0a648a; }
      main#content ul.objects li.placeholder {
        background: #eee; }
      main#content ul.objects li.list > div.wrapper .edit-controls > span {
        margin-right: 10px; }
      main#content ul.objects li.list > div.wrapper .edit-controls input[type=checkbox] {
        -webkit-user-select: none;
        -webkit-appearance: none;
        border: solid 1px #888;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2em;
        margin: 0 4px -2px 0;
        min-width: 16px;
        width: 16px;
        height: 16px; }
        main#content ul.objects li.list > div.wrapper .edit-controls input[type=checkbox]:focus {
          outline: none; }
        main#content ul.objects li.list > div.wrapper .edit-controls input[type=checkbox]:hover {
          border-color: #111; }
        main#content ul.objects li.list > div.wrapper .edit-controls input[type=checkbox]:checked {
          background: #444;
          border-color: #444; }
          main#content ul.objects li.list > div.wrapper .edit-controls input[type=checkbox]:checked:hover {
            background: #111;
            border-color: #111; }
      main#content ul.objects li.list > div.wrapper .edit-controls label {
        color: #888; }
      main#content ul.objects li.list > div.wrapper .edit-controls textarea.list-name {
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 0 -5px;
        max-height: 1.4em;
        padding: 0 5px; }
    main#content ul.objects.heading {
      margin-bottom: 0; }
  main#content ul.lists {
    /* Context-specific stuff */ }
    main#content ul.lists li.list {
      /* List name */ }
      main#content ul.lists li.list .wrapper > a {
        color: #0f97d2;
        display: block;
        font-size: 1.4em;
        line-height: 1.1em;
        text-decoration: none; }
        main#content ul.lists li.list .wrapper > a:hover {
          color: #0a648a; }
      main#content ul.lists li.list .wrapper .subtitle {
        -webkit-user-select: none;
        cursor: pointer; }
        main#content ul.lists li.list .wrapper .subtitle:hover {
          color: #888; }
      main#content ul.lists li.list.edit {
        border-radius: 5px;
        box-shadow: 0 0 15px #999;
        padding: 15px; }
        main#content ul.lists li.list.edit .handle {
          display: none; }
    main#content ul.lists.contexts li.list a {
      color: #d0356b; }
      main#content ul.lists.contexts li.list a:hover {
        color: #95234b; }
  main#content ul.items li.item {
    /* Checkbox */
    /* Label */ }
    main#content ul.items li.item .checkbox {
      -webkit-user-select: none;
      -webkit-appearance: none;
      border: solid 1px #ccc;
      border-radius: 2px;
      cursor: pointer;
      font-size: 1.2em;
      margin: 2px 11px 0 0;
      min-width: 20px;
      width: 20px;
      height: 20px; }
      main#content ul.items li.item .checkbox:focus {
        outline: none; }
      main#content ul.items li.item .checkbox.checked {
        background: #444;
        border-color: #444; }
        main#content ul.items li.item .checkbox.checked:hover {
          background: #246189;
          border-color: #246189; }
    main#content ul.items li.item label {
      color: #333333;
      cursor: pointer;
      display: block;
      flex: 1;
      font-size: 1.2em;
      line-height: 1.2em;
      user-select: none;
      -webkit-user-select: none; }
      main#content ul.items li.item label .tag {
        color: #3b9b59;
        font-size: .8em;
        text-decoration: none; }
        main#content ul.items li.item label .tag:hover {
          color: #266439; }
    main#content ul.items li.item.waiting label {
      color: #999;
      font-style: italic; }
    main#content ul.items li.item.urgent {
      font-weight: 600; }
    main#content ul.items li.item.edit {
      border-radius: 5px;
      box-shadow: 0 0 15px #999;
      padding: 15px; }
      main#content ul.items li.item.edit .handle {
        display: none; }
  main#content ul.items.starred .subtitle {
    font-size: .8em;
    line-height: 1.3em; }
  main#content ul.items.starred li.item label {
    display: inline; }
  main#content ul.items.starred .subtitle.selector {
    display: inline;
    font-size: .9em;
    margin-top: 3px; }
    main#content ul.items.starred .subtitle.selector a.context {
      color: #ddd; }
    main#content ul.items.starred .subtitle.selector a.list {
      color: #ddd; }
  main#content .group h2.contextview {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin: 1.5em 0 .5em; }
  main#content .group:first-child h2.contextview {
    margin-top: .5em; }
  main#content .results h2 {
    border-bottom: solid 1px #ddd;
    color: #ccc;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em 0;
    padding-bottom: 1px; }

/* Overview */
/* -------------------------------------------------- */
#overview h2 {
  font-size: 0.9em;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
#overview ul.entries + ul.entries {
  border-top: solid 1px #ddd;
  margin-top: 2.5em;
  padding-top: 1em; }
#overview ul.entries {
  font-size: 1.2em;
  line-height: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0; }
  #overview ul.entries li a {
    text-decoration: none; }
  #overview ul.entries li span {
    color: #bbb;
    font-size: .8em;
    line-height: 1.1em;
    margin-left: 1px; }
  #overview ul.entries li.context:first-child {
    margin-top: 1em; }
  #overview ul.entries li.indent-1 {
    margin-left: 20px; }
  #overview ul.entries li.indent-2 {
    margin-left: 40px; }
  #overview ul.entries li.context {
    color: #fff;
    font-size: 1.1em;
    margin-top: 2em; }
    #overview ul.entries li.context span.selector {
      color: #aa5a76;
      margin-right: 1px; }
    #overview ul.entries li.context a {
      color: #d0356b; }
  #overview ul.entries li.list {
    color: #fff;
    margin-top: 5px; }
    #overview ul.entries li.list span.selector {
      color: #308ab0;
      margin-right: 1px; }
    #overview ul.entries li.list a {
      color: #0f97d2; }

/* Review mode */
/* -------------------------------------------------- */
#review h2 {
  font-weight: normal; }
#review .metadata {
  color: #aaa;
  font-style: italic;
  float: right;
  margin-left: 15px;
  text-align: right; }
#review .selector {
  font-size: 1.1em;
  line-height: 1.2em;
  margin-top: 5px; }
  #review .selector a {
    text-decoration: none; }
    #review .selector a:hover {
      color: #444; }
    #review .selector a.context {
      color: #d0356b; }
      #review .selector a.context:hover {
        color: #95234b; }
    #review .selector a.list {
      color: #0f97d2; }
      #review .selector a.list:hover {
        color: #0a648a; }
#review .name {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-top: 1em; }
#review .notes {
  color: #888;
  margin-top: 5px; }
#review .controls {
  border-bottom: solid 1px #ddd;
  margin-bottom: 0.4em;
  padding-bottom: 1.8em; }
  #review .controls .group {
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    justify-content: space-between; }
    #review .controls .group.actions {
      border-top: solid 1px #ddd;
      padding-top: 1em; }
    #review .controls .group.actions > span {
      -webkit-align-self: center;
      -webkit-user-select: none;
      align-self: center;
      background: #c4ddf3;
      border-radius: 3px;
      color: #31618c;
      cursor: pointer;
      display: inline-block;
      margin: 5px;
      line-height: 1.1em;
      padding: 7px 12px 8px;
      user-select: none; }
      #review .controls .group.actions > span.selected {
        background: #31618c;
        color: #fff; }
        #review .controls .group.actions > span.selected .icon {
          color: #fff; }
        #review .controls .group.actions > span.selected.tolist input[type=text] {
          background: rgba(0, 0, 0, 0.3);
          color: #fff; }
      #review .controls .group.actions > span:hover {
        background: #444;
        color: #fff; }
      #review .controls .group.actions > span .icon {
        color: #8badcb;
        float: left;
        margin-right: 5px; }
        #review .controls .group.actions > span .icon.checked {
          font-size: 1.6em;
          margin-right: 0;
          padding-bottom: 5px; }
        #review .controls .group.actions > span .icon.starred {
          margin-right: 0; }
      #review .controls .group.actions > span.tolist {
        -webkit-align-items: center;
        align-items: center;
        display: -webkit-inline-flex;
        display: inline-flex;
        width: 100%; }
        #review .controls .group.actions > span.tolist input[type=text] {
          background: rgba(255, 255, 255, 0.3);
          border: none;
          border-radius: 3px;
          color: #000;
          font-size: 1.1em;
          padding: 4px 7px;
          width: 90%; }
          #review .controls .group.actions > span.tolist input[type=text]:focus {
            outline: none; }
    #review .controls .group.nav {
      font-size: 1.1em;
      line-height: 1.1em;
      margin-bottom: 1em;
      width: 100%; }
      #review .controls .group.nav > span {
        -webkit-user-select: none;
        color: #74a4c8;
        cursor: pointer;
        margin: 5px;
        font-style: italic;
        user-select: none; }
        #review .controls .group.nav > span:hover {
          color: #444; }
        #review .controls .group.nav > span.next {
          text-align: center; }
        #review .controls .group.nav > span.savenext {
          text-align: right; }

/* Media queries */
@media screen and (min-width: 500px) {
  #review .controls .group {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #review .controls .group.actions span.tolist {
      max-width: 170px; }
      #review .controls .group.actions span.tolist input[type=text] {
        width: 80%; } }
/* Dark mode */
/* -------------------------------------------------- */
/* Dark */
/* -------------------------------------------------- */
body.dark {
  background: #1e2024; }
  body.dark main#content ul.objects li .handle {
    color: #515761; }
  body.dark main#content ul.objects li span.subtitle {
    color: #565c67; }
  body.dark main#content ul.items li.item input[type=checkbox] {
    border-color: #666; }
  body.dark main#content ul.items li.item label {
    color: #cfcfcf; }
  body.dark main#content .results h2 {
    color: #515761;
    border-bottom-color: #515761; }

/* Media queries */
/* -------------------------------------------------- */
@media screen and (min-width: 800px) {
  main#content ul.items.starred .subtitle.selector {
    position: absolute;
    left: 20px; } }

/*# sourceMappingURL=style.css.map */
