{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{{ title }}{% endblock title %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

	<link href="{% static 'css/style.css' %}?v1" rel="stylesheet" type="text/css" charset="utf-8" />

	<script src="{% static 'js/lib/jquery-2.1.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap-global-bind.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/Sortable.min.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src="{% static 'js/liszt.js' %}?v1" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var config = {};
		config.url = "{% url 'home' %}";
        config.apiKey = "{{ key }}";
	</script>

	{% if section %}
	<link rel="shortcut icon" href="{% static 'favicon/' %}favicon-{{ section }}.png">
	{% else %}
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
	{% endif %}

	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon.png' %}">

	{% endblock head %}
</head>

<body>
	<header>
		<div class="container">
			<div class="controls">
				<a href="" class="search-button">Search</a>
				<a href="" class="add-button">+</a>
			</div>

			<h2><a href="{% url 'home' %}">Liszt</a></h2>
		</div>
	</header>

	{% block pageheaderwrapper %}
	<section id="page-header">
		<div class="container">
			<h1>{% block pageheader %}{% endblock pageheader %}</h1>
		</div>
	</section>
	{% endblock pageheaderwrapper %}

	<section id="search-tray" class="tray" data-uri="{% url 'search' %}">
		<div class="container">
			<input type="text" />
		</div>
	</section>

	<section id="add-tray" class="tray" data-uri="{% url 'add_items' %}">
		<div class="container">
			<textarea></textarea>

			<a id="save-button" class="button" href="">Save</a>
		</div>
	</section>

	<main id="content">
		<div class="container">
			<div class="results"></div>
			<div class="wrapper">{% block content %}{% endblock content %}</div>
		</div>
	</main>
</body>
</html>
