{% extends '_base.html' %}

{% block pageheader %}
<span class="context main">{{ ctext.get_name }}</span>
<div class="hidden" id="page-data" data-type="context" data-context-slug="{{ context.slug }}"></div>
{% endblock pageheader %}

{% block content %}
<ul class="lists objects sortable" data-sort-uri="{% url 'sort_things' 'list' %}">
    {% for list in ctext.get_active_lists %}
	<li class="list" data-object-id="{{ list.id }}">
		<div class="wrapper">
			<a href="{% url 'list_detail' list.context.slug list.slug %}">{{ list.get_name }}</a>
			<span class="subtitle">{{ list.count_items }} item{% if list.count_items != 1 %}s{% endif %}{% if list.count_sublists %}, {{ list.count_sublists }} list{% if list.count_sublists != 1 %}s{% endif %}{% endif %}</span>
		</div>
		<span class="handle">=</span>
	</li>
    {% endfor %}
</ul>
{% endblock content %}
