{% extends '_base.html' %}

{% block pageheader %}<span class="main">Home</span>{% endblock pageheader %}

{% block content %}
<ul class="contexts lists objects sortable" data-sort-uri="{% url 'sort_things' 'context' %}">
    {% for c in contexts %}
	<li class="list" data-object-id="{{ c.id }}">
		<div class="wrapper">
			<a href="{% url 'context_detail' c.slug %}">{{ c.get_name }}</a>
			<span class="subtitle">{{ c.count_lists }} list{% if c.count_lists != 1 %}s{% endif %}
		</div>
		<span class="handle">=</span>
	</li>
    {% endfor %}
</ul>
{% endblock content %}
