{% extends '_base.html' %}

{% block pageheader %}
{% if parent_list %}
	<a class="context" href="{% url 'context_detail' parent_list.context.slug %}">{{ parent_list.context.get_display_slug }}</a>
	<a class="list" href="{% url 'list_detail' parent_list.context.slug parent_list.slug %}">{{ parent_list.get_display_slug }}</a>&thinsp;<span class="list main">{{ list.get_display_slug }}</span>
	<div class="hidden" id="page-data" data-type="list" data-context-slug="{{ parent_list.context.slug }}" data-list-slug="{{ list.slug }}" data-parent-list-slug="{{ parent_list.slug }}"></div>
{% else %}
	<a class="context" href="{% url 'context_detail' list.context.slug %}">{{ list.context.get_display_slug }}</a>
	<span class="list main">{{ list.get_display_slug }}</span>
	<div class="hidden" id="page-data" data-type="list" data-context-slug="{{ list.context.slug }}" data-list-slug="{{ list.slug }}"></div>
{% endif %}
{% endblock pageheader %}

{% block content %}
{% if list.get_active_sublists|length > 0 %}
<ul class="sublists lists objects sortable" data-sort-uri="{% url 'sort_things' 'list' %}">
    {% for sublist in list.get_active_sublists %}
	<li class="list" data-object-id="{{ sublist.id }}">
		<div class="wrapper">
			<a href="{% url 'list_detail' list.context.slug sublist.get_full_slug %}">{{ sublist.get_display_slug }}</a>
			<span class="subtitle">{{ sublist.count_items }} item{% if sublist.count_items != 1 %}s{% endif %}</span>
		</div>
		<span class="handle">=</span>
	</li>
    {% endfor %}
</ul>
{% endif %}

<ul class="items objects sortable" data-sort-uri="{% url 'sort_things' 'item' %}">
    {% for item in list.get_active_items %}
	<li class="item" data-item-id="{{ item.id }}" data-item-uri="{% url 'toggle_item' item.id %}">
		<input id="item-{{ item.id }}" type="checkbox" {% if item.checked %}checked="true"{% endif %} />
		<div class="wrapper">
			<label for="item-{{ item.id }}">{{ item.text }}{% for tag in item.tags.all %} <a class="tag" href="{% url 'tag' tag.slug %}">{{ tag.get_display_slug }}</a>{% endfor %}</label>
			{% if item.notes %}<span class="subtitle">{{ item.get_notes|safe }}</span>{% endif %}
		</div>
		<span class="handle">=</span>
	</li>
    {% endfor %}
</ul>
{% endblock content %}
