{% extends '_base.html' %}

{% block pageheader %}
<a class="context" href="{% url 'context_detail' context.slug %}">{{ context.get_display_slug|safe }}</a>
{% for p in parents %}
	{% if forloop.last %}
	<span class="list main">{{ p.get_display_slug|safe }}</span>
	{% else %}	
	<a class="list" href="{{ p.get_url }}">{{ p.get_display_slug|safe }}</a>&thinsp;
	{% endif %}
{% endfor %}
<div class="hidden" id="page-data" data-type="list" data-context-slug="{{ context.slug }}" data-list-slugs="{% for p in parents %}{{ p.slug }}{% if not forloop.last %},{% endif %}{% endfor %}"></div>
{% endblock pageheader %}

{% block content %}
{% if list.get_active_sublists|length > 0 %}
<ul class="sublists lists objects sortable" data-sort-uri="{% url 'sort_things' 'list' %}">
    {% for sublist in list.get_active_sublists %}
	{{ sublist.get_html|safe }}
    {% endfor %}
</ul>
{% endif %}

<ul class="items objects sortable" data-sort-uri="{% url 'sort_things' 'item' %}">
    {% for item in list.get_active_items %}
	{{ item.get_html|safe }}
    {% endfor %}
</ul>
{% endblock content %}
