{% extends '_base.html' %}

{% block pageheader %}
{% if tag %}
<span class="tag main">{{ tag.get_display_slug }}</span>
{% else %}
<span class="tag main">&#x2605; starred</span>
{% endif %}
{% endblock pageheader %}

{% block content %}
	{% for c in contexts %}
		<ul class="contexts lists objects heading" data-sort-uri="{% url 'sort_things' 'context' %}">
			<li class="list" data-object-id="{{ c.context.id }}">
				<div class="wrapper">
					<a href="{% url 'context_detail' c.context.slug %}">{{ c.context.get_display_slug }}</a>
				</div>
			</li>
		</ul>

		{% if c.lists|length > 0 %}
		<ul class="lists objects">
			{% for list in c.lists %}
			<li class="list" data-object-id="{{ list.id }}">
				<div class="wrapper">
					<a href="{% url 'list_detail' list.context.slug list.slug %}">{{ list.get_name }}</a>
					<span class="subtitle">{{ list.count_items }} item{% if list.count_items != 1 %}s{% endif %}{% if list.count_sublists %}, {{ list.count_sublists }} list{% if list.count_sublists != 1 %}s{% endif %}{% endif %}</span>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if c.items|length > 0 %}
		<ul class="items objects">
			{% for item in c.items %}
			{{ item.get_html|safe }}
			{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
{% endblock content %}
