/* Liszt styles */
/* -------------------------------------------------- */

@import "_base.scss";
@import "_fonts.scss";

@mixin header-color($color) {
	color: $color;

	a {
		color: $color;

		&:hover {
			color: darken($color, 15%);
		}
	}
}

body > header {
	background: #eee;
	padding: 20px;

	.controls {
		float: right;

		a {
			color: $header-controls-color;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				color: darken($header-controls-color, 15%);
			}

			/* Spacing */
			& + a {
				margin-left: 10px;
			}
		}
	}

	/* Liszt */
	h2 {
		color: #888;
		font-size: .8em;
		font-weight: normal;
		line-height: 1.2em;
		margin: 0;
		text-transform: uppercase;

		a {
			color: #888;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #444;
			}
		}
	}

	/* Page title */
	h1 {
		color: #222;
		font-size: 1em;
		font-weight: normal;
		line-height: 1.1em;
		margin: 5px 0 0;

		a {
			text-decoration: none;

			&:hover {
				color: #444;
			}
		}

		.main {
			display: block;
			font-size: 1.3em;
			margin-top: 8px;
		}

		.context {
			@include header-color($context-color);
		}

		.list {
			@include header-color($list-color);
		}

		.tag {
			@include header-color($tag-color);
		}
	}
}

.container {
	margin: 0px auto;
	max-width: 400px;
}


/* Trays */
/* -------------------------------------------------- */

.tray {
	display: none;
	padding: 0 20px;
}

/* Search tray */
#search-tray {
	background: hsl(213, 7%, 20%);
	color: #fff;

	input[type=text] {
		background: none;
		border: none;
		color: #fff;
		font-size: 1.2em;
		padding: 10px 0;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

/* Add tray */
#add-tray {
	border-bottom: solid 5px $list-color;

	textarea {
		border: none;
		font-size: 1.2em;
		line-height: 1.2em;
		padding: 15px 0 10px;
		resize: none;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	a#save-button {
		color: $list-color;
		display: block;
		padding: 3px 0 8px;
		text-decoration: none;

		&:hover {
			color: darken($list-color, 15%);
		}
	}
}


/* Content */
/* -------------------------------------------------- */

main#content {
	padding: 20px;

	/* Lists */
	ul.lists {
		list-style: none;
		margin: 0 0 $group-spacing 0;
		padding: 0;

		li.list {
			display: flex;

			/* Spacing */
			& + li.list {
				margin-top: $item-spacing;
			}

			/* Content wrapper */
			& > div.wrapper {
				flex: 1;
			}

			/* Handle */
			.handle {
				color: #bbb;
				cursor: move;
			}

			/* List name */
			a {
				color: $list-color;
				display: block;
				font-size: 1.2em;
				text-decoration: none;

				&:hover {
					color: darken($list-color, 15%);
				}
			}

			span.subtitle {
				color: $subtitle-color;
				display: block;
				font-size: .8em;
				line-height: 1.2em;
				margin-top: 2px;

				&.handle {
					display: initial;
				}
			}

			&.placeholder {
				background: #eee;
			}
		}

		/* Context-specific stuff */
		&.contexts {
			li.list {
				a {
					color: $context-color;

					&:hover {
						color: darken($context-color, 15%);
					}
				}
			}
		}
	}

	/* Items */
	ul.items {
		list-style: none;
		margin: 0 0 $group-spacing 0;
		padding: 0;

		li.item {
			align-items: baseline;
			display: flex;

			/* Spacing */
			& + li.item {
				margin-top: $item-spacing;
			}

			/* Handle */
			.handle {
				color: #bbb;
				cursor: move;
			}

			/* Checkbox */
			input[type=checkbox] {
				font-size: 1.2em;
				margin: 0 10px 0 0;
				width: 20px;
			}

			/* Label */
			label {
				color: $item-color;
				flex: 1;
				font-size: 1.2em;
				line-height: 1.2em;

				.tag {
					color: $tag-color;
					font-size: .8em;
					text-decoration: none;

					&:hover {
						color: darken($tag-color, 15%);
					}
				}
			}

			/* For sorting */
			&.placeholder {
				background: #eee;
			}
		}
	}

	/* Search results */
	.results {
		h2 {
			color: #888;
			font-size: 1em;
			font-weight: 400;
			margin: 0 0 1em 0;
		}
	}
}

