/* Liszt styles */
/* -------------------------------------------------- */

@import "_base.scss";
@import "_fonts.scss";
@import "_login.scss";

@mixin header-color($color) {
	color: #fff;

	span.selector {
		color: desaturate($color, 30);
		margin-right: 1px;
	}
}

@mixin header-link-color($color) {
	color: #fff;

	span.selector {
		color: desaturate($color, 30);
		margin-right: 1px;
	}

	&:hover {
		color: lighten($color, 10%);
	}
}

#page header[role=banner] {
	background: hsl(216, 13%, 21%);
	padding: 0 20px;

	& > .container {
		display: flex;

		.controls {
			margin-right: -10px;

			&.left {
				flex: 1;
				margin-left: -10px;
				margin-right: 0;
			}

			a {
				color: $header-controls-color;
				cursor: pointer;
				display: inline-block;
				font-size: 1.5em;
				padding: 13px 10px 14px;
				text-decoration: none;

				&:hover {
					color: lighten($header-controls-color, 25%);
				}

				&.menu {
					line-height: 11px;
					vertical-align: top;
				}

				svg {
					cursor: pointer;
					height: .8em;
					width: .8em;

					path {
						fill: $header-controls-color;
					}

					&:hover path {
						fill: lighten($header-controls-color, 25%);
					}
				}
			}
		}
	}
}

section#page-header {
	background: hsl(219, 13%, 21%);
	border-bottom: solid 5px hsl(96, 41%, 61%);
	padding: 6px 20px 15px;

	/* Page title */
	h1 {
		color: #222;
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		line-height: 1.1em;

		a {
			font-size: 1.3em;
			text-decoration: none;

			&:hover {
				color: #444;
			}

			&.context {
				@include header-link-color($context-color);
			}

			&.list {
				@include header-link-color($list-color);
			}

			&.tag {
				@include header-link-color($tag-color);
			}

			&.starred {
				@include header-link-color($starred-color);
			}
		}

		.main {
			display: block;
			font-size: 1.6em !important;
			line-height: 1em;
		}

		a + .main {
			margin-top: 7px;
		}

		span.context {
			@include header-color($context-color);
		}

		span.list {
			@include header-color($list-color);
		}

		span.tag {
			@include header-color($tag-color);
		}

		span.starred {
			@include header-color($starred-color);
		}
	}
}

.container {
	margin: 0px auto;
	max-width: 400px;
}


/* Navigation */
/* -------------------------------------------------- */

nav[role=menu] {
	-moz-transition: -moz-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-o-transition: -o-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-webkit-transition: -webkit-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	transition: transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);

	-webkit-overflow-scrolling: touch;

	-moz-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0);
	-webkit-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);

	background: hsl(0, 0%, 11%);

	float: left;
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 1em;
	padding-top: 1em;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	z-index: 0;

	a {
		color: #fff;
		display: block;
		padding: .3em 25px;
		text-align: right;
		text-decoration: none;

		&:hover {
			background: hsl(0, 0%, 21%);
			color: #fff;
		}

		& span.selector {
			color: hsl(10, 25%, 64%);
			margin-right: 1px;
		}
	}

	& > span {
		color: #fff;
		cursor: pointer;
		display: block;
		padding: .3em 25px;
		text-align: right;
		text-decoration: none;

		&:hover {
			background: hsl(0, 0%, 21%);
			color: #fff;
		}
	}

	& .group {
		& + .group {
			margin-top: 1.45em;
		}

		&.system {
			a {
				color: hsl(205, 41%, 81%);
				font-size: .9em;
			}

			span {
				color: hsl(205, 41%, 81%);
				font-size: .9em;
			}
		}

		h2 {
			color: #444;
			font-size: .8em;
			font-weight: normal;
			margin-bottom: 0;
			margin-top: 1em;
			padding: 0 25px;
			text-align: right;
			text-transform: uppercase;
		}
	}
}

body.active-nav {
	nav[role=menu] {
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	#page {
		-moz-transition: -moz-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
		-o-transition: -o-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
		-webkit-transition: -webkit-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
		transition: transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
		-moz-transform: translate3d(200px, 0, 0);
		-ms-transform: translate3d(200px, 0, 0);
		-o-transform: translate3d(200px, 0, 0);
		-webkit-transform: translate3d(200px, 0, 0);
		transform: translate3d(200px, 0, 0);
		box-shadow: -1px 0 25px rgba(0, 0, 0, 0.5);
		position: fixed;
		width: 100%;
		height: 100%;

		.mask {
			background: rgba(0, 0, 0, 0.5);
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 50000;
		}
	}
}


/* Trays */
/* -------------------------------------------------- */

.tray {
	display: none;
	padding: 0 20px;
}

/* Search tray */
#search-tray {
	background: hsl(210, 40%, 44%);
	color: #fff;

	input[type=text] {
		background: none;
		border: none;
		color: #fff;
		font-size: 1.2em;
		padding: 10px 0;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

/* Add tray */
#add-tray {
	border-bottom: solid 5px hsl(205, 43%, 66%);

	textarea {
		border: none;
		font-size: 1.2em;
		line-height: 1.2em;
		padding: 15px 0 10px;
		resize: none;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	a#save-button {
		color: $button-color;
		display: block;
		padding: 3px 0 8px;
		text-decoration: none;

		&:hover {
			color: lighten($button-color, 15%);
		}
	}
}


/* Content */
/* -------------------------------------------------- */

main#content {
	padding: 20px;
	padding-bottom: 100px;

	/* Home page */
	.links {
		font-size: 1.2em;

		a {
			color: $tag-color;
			margin-right: 10px;
			text-decoration: none;

			&:hover {
				color: darken($tag-color, 15%);
			}
		}
	}

	ul.objects {
		list-style: none;
		margin: 0 0 $group-spacing 0;
		padding: 0;

		li {
			align-items: flex-start;
			display: flex;
			padding: 8px 0;

			/* Content wrapper */
			& > div.wrapper {
				-webkit-flex: 1;
				-webkit-hyphens: auto;
				flex: 1;
				hyphens: auto;
				overflow-wrap: break-word;
				word-wrap: break-word;
				word-break: break-word;

				.edit-controls {
					display: none;

					textarea {
						border: none;
						font-size: 1.2em;
						line-height: 1.2em;
						margin: 0;
						padding: 0;
						resize: none;
						width: 100%;

						&:focus {
							outline: none;
						}

						&.item-metadata {
							background: hsl(201, 91%, 91%);
							font-size: 1.1em;
							margin-bottom: 5px;
							padding: 7px 9px;
						}
					}

					.group {
						align-items: center;
						display: flex;
						font-size: .8em;

						label {
							font-style: italic;
							margin-right: 10px;
							max-width: 60px;
						}

						input[type=text] {
							border: solid 1px #ccc;
							border-radius: 2px;
							flex: 1;
							font-size: 1.5em;
							line-height: 1.1em;
							padding: 2px 5px;

							&:focus {
								outline: none;
							}
						}

						& + .group {
							margin-top: 10px;
						}

						&.context {
							input {
								color: $context-color;
							}
						}

						&.list {
							input {
								color: $list-color;
							}
						}

						&.tag {
							input {
								color: $tag-color;
							}
						}
					}
				}

				.buttons {
					display: flex;
					margin-top: 10px;

					.button {
						background: #eee;
						border: none;
						border-radius: 3px;
						color: $button-color;
						flex: 1;
						font-size: 1.1em;
						padding: 3px 0 5px;
						text-align: center;
						text-decoration: none;

						&:hover {
							color: lighten($button-color, 15%);
						}

						&.cancel {
							color: #999;

							&:hover {
								color: lighten(#999, 15%);
							}
						}

						/* Spacing */
						& + .button {
							margin-left: 5px;
						}
					}
				}
			}

			/* Star */
			.star {
				-webkit-user-select: none;
				color: lighten($starred-color, 45%);
				font-size: 1.2em;
				margin-left: 10px;

				&.hide {
					display: none;
				}
			}

			/* Handle */
			.handle {
				-webkit-user-select: none;
				color: #bbb;
				cursor: move;
				font-size: 1.5em;
				margin-left: 8px;
			}

			/* Subtitle */
			span.subtitle {
				color: $subtitle-color;
				display: block;
				font-size: 1em;
				font-style: italic;
				line-height: 1.2em;
				margin-top: 3px;
				word-wrap: break-word;

				a {
					text-decoration: none;

					&.context {
						color: $context-color;

						&:hover {
							color: darken($context-color, 15%);
						}
					}

					&.list {
						color: $list-color;

						&:hover {
							color: darken($list-color, 15%);
						}
					}
				}
			}

			/* Placeholder for sorting */
			&.placeholder {
				background: #eee;
			}
		}

		/* When used as heading (contexts on tag page) */
		&.heading {
			margin-bottom: 0;
		}
	}

	/* Lists */
	ul.lists {
		li.list {
			/* List name */
			.wrapper {
				> a {
					color: $list-color;
					display: block;
					font-size: 1.4em;
					line-height: 1.1em;
					text-decoration: none;

					&:hover {
						color: darken($list-color, 15%);
					}
				}
			}
		}

		/* Context-specific stuff */
		&.contexts {
			li.list {
				a {
					color: $context-color;

					&:hover {
						color: darken($context-color, 15%);
					}
				}
			}
		}
	}

	/* Items */
	ul.items {
		li.item {
			/* Checkbox */
			input[type=checkbox] {
				-webkit-user-select: none;
				-webkit-appearance: none;
				border: solid 1px #ccc;
				border-radius: 2px;
				cursor: pointer;
				font-size: 1.2em;
				margin: 2px 11px 0 0;
				min-width: 20px;
				width: 20px;
				height: 20px;

				&:focus {
					outline: none;
				}

				&:checked {
					background: #444;
					border-color: #444;

					&:hover {
						background: hsl(204, 58%, 34%);
						border-color: hsl(204, 58%, 34%);
					}
				}
			}

			/* Label */
			label {
				color: $item-color;
				cursor: pointer;
				display: block;
				flex: 1;
				font-size: 1.2em;
				line-height: 1.2em;
				-webkit-user-select: none;

				.tag {
					color: $tag-color;
					font-size: .8em;
					text-decoration: none;

					&:hover {
						color: darken($tag-color, 15%);
					}
				}
			}
		}

		&.starred {
			.subtitle {
				font-size: .8em;
				line-height: 1.3em;
			}

			.subtitle.selector {
				font-size: .6em;
				margin-top: 3px;

				a.context {
					color: #ccc;
				}

				a.list {
					color: #ccc;
				}
			}
		}
	}

	/* Search results */
	.results {
		h2 {
			border-bottom: solid 1px #ddd;
			color: #ccc;
			font-size: 1em;
			font-weight: 400;
			margin: 0 0 1em 0;
			padding-bottom: 1px;
		}
	}
}


/* Overview */
/* -------------------------------------------------- */

.wrapper ul.entries {
	font-size: 1.2em;
	line-height: 1.3em;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		a {
			text-decoration: none;
		}

		span {
			color: #bbb;
			font-size: .8em;
			line-height: 1.1em;
			margin-left: 1px;
		}

		&.context:first-child {
			margin-top: 1em;
		}

		&.indent-1 {
			margin-left: 20px;
		}

		&.indent-2 {
			margin-left: 40px;
		}

		&.context {
			@include header-color($context-color);

			a {
				color: $context-color;
			}

			font-size: 1.1em;
			margin-top: 2em;
		}

		&.list {
			@include header-color($list-color);

			a {
				color: $list-color;
			}

			margin-top: 5px;
		}
	}
}

@import "_dark.scss";
