/* Liszt styles */
/* -------------------------------------------------- */

@import "_base.scss";
@import "_fonts.scss";

@mixin header-color($color) {
	color: $color;
}

@mixin header-link-color($color) {
	color: $color;

	&:hover {
		color: darken($color, 15%);
	}
}

body > header {
	background: hsl(0, 0%, 18%);
	padding: 10px 20px;

	& > .container {
		display: flex;

		/* Liszt */
		h2 {
			color: #888;
			flex: 1;
			font-size: 1.1em;
			font-weight: normal;
			letter-spacing: 0.05em;
			line-height: 1.2em;
			margin: 0;
			text-transform: uppercase;

			a {
				color: #888;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: lighten(#888, 15%);
				}
			}
		}
		
		/* Search/add */
		.controls {
			a {
				color: $header-controls-color;
				cursor: pointer;
				font-size: 1.1em;
				text-decoration: none;

				&:hover {
					color: lighten($header-controls-color, 15%);
				}

				/* Spacing */
				& + a {
					margin-left: 10px;
				}
			}
		}
	}
}

section#page-header {
	background: #eee;
	padding: 15px 20px 15px;

	/* Page title */
	h1 {
		color: #222;
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		line-height: 1.1em;

		a {
			font-size: 1.3em;
			text-decoration: none;

			&:hover {
				color: #444;
			}

			&.context {
				@include header-link-color($context-color);
			}

			&.list {
				@include header-link-color($list-color);
			}

			&.tag {
				@include header-link-color($tag-color);
			}
		}

		.main {
			display: block;
			font-size: 1.6em !important;
			line-height: 1em;
		}

		a + .main {
			margin-top: 7px;
		}

		span.context {
			@include header-color($context-color);
		}

		span.list {
			@include header-color($list-color);
		}

		span.tag {
			@include header-color($tag-color);
		}
	}
}

.container {
	margin: 0px auto;
	max-width: 400px;
}


/* Trays */
/* -------------------------------------------------- */

.tray {
	display: none;
	padding: 0 20px;
}

/* Search tray */
#search-tray {
	background: hsl(210, 40%, 44%);
	color: #fff;

	input[type=text] {
		background: none;
		border: none;
		color: #fff;
		font-size: 1.2em;
		padding: 10px 0;
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

/* Add tray */
#add-tray {
	border-bottom: solid 5px $list-color;

	textarea {
		border: none;
		font-size: 1.2em;
		line-height: 1.2em;
		padding: 15px 0 10px;
		resize: none;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	a#save-button {
		color: $button-color;
		display: block;
		padding: 3px 0 8px;
		text-decoration: none;

		&:hover {
			color: lighten($button-color, 15%);
		}
	}
}


/* Content */
/* -------------------------------------------------- */

main#content {
	padding: 20px;

	/* Home page */
	.links {
		font-size: 1.2em;

		a {
			color: $tag-color;
			margin-right: 10px;
			text-decoration: none;

			&:hover {
				color: darken($tag-color, 15%);
			}
		}
	}

	ul.objects {
		list-style: none;
		margin: 0 0 $group-spacing 0;
		padding: 0;

		li {
			align-items: flex-start;
			display: flex;
			padding: 8px 0;

			/* Content wrapper */
			& > div.wrapper {
				flex: 1;
				word-wrap: break-word;

				.edit-controls {
					display: none;

					textarea {
						border: none;
						font-size: 1.2em;
						line-height: 1.2em;
						margin: 0;
						margin-bottom: 5px;
						padding: 0;
						resize: none;
						width: 100%;

						&:focus {
							outline: none;
						}
					}

					.group {
						align-items: center;
						display: flex;
						font-size: .8em;

						label {
							font-style: italic;
							margin-right: 10px;
							max-width: 60px;
						}

						input[type=text] {
							border: solid 1px #ccc;
							border-radius: 2px;
							flex: 1;
							font-size: 1.5em;
							line-height: 1.1em;
							padding: 2px 5px;

							&:focus {
								outline: none;
							}
						}

						& + .group {
							margin-top: 10px;
						}

						&.context {
							input {
								color: $context-color;
							}
						}

						&.list {
							input {
								color: $list-color;
							}
						}

						&.tag {
							input {
								color: $tag-color;
							}
						}
					}
				}

				.buttons {
					display: flex;
					margin-top: 10px;

					.button {
						background: #eee;
						border: none;
						border-radius: 3px;
						color: $button-color;
						flex: 1;
						font-size: 1.1em;
						padding: 3px 0 5px;
						text-align: center;
						text-decoration: none;

						&:hover {
							color: lighten($button-color, 15%);
						}

						&.cancel {
							color: #999;

							&:hover {
								color: lighten(#999, 15%);
							}
						}

						/* Spacing */
						& + .button {
							margin-left: 5px;
						}
					}
				}
			}

			/* Star */
			.star {
				color: hsl(328, 64%, 78%);
				font-size: 1.2em;

				&.hide {
					display: none;
				}
			}

			/* Handle */
			.handle {
				color: #bbb;
				cursor: move;
				font-size: 1.5em;
				margin-left: 15px;
			}

			/* Subtitle */
			span.subtitle {
				color: $subtitle-color;
				display: block;
				font-size: 1em;
				font-style: italic;
				line-height: 1.2em;
				margin-top: 3px;
				word-wrap: break-word;

				a {
					text-decoration: none;

					&.context {
						color: $context-color;

						&:hover {
							color: darken($context-color, 15%);
						}
					}

					&.list {
						color: $list-color;

						&:hover {
							color: darken($list-color, 15%);
						}
					}
				}
			}

			/* Placeholder for sorting */
			&.placeholder {
				background: #eee;
			}
		}

		/* When used as heading (contexts on tag page) */
		&.heading {
			margin-bottom: 0;
		}
	}

	/* Lists */
	ul.lists {
		li.list {
			/* List name */
			.wrapper {
				> a {
					color: $list-color;
					display: block;
					font-size: 1.4em;
					line-height: 1.1em;
					text-decoration: none;

					&:hover {
						color: darken($list-color, 15%);
					}
				}
			}
		}

		/* Context-specific stuff */
		&.contexts {
			li.list {
				a {
					color: $context-color;

					&:hover {
						color: darken($context-color, 15%);
					}
				}
			}
		}
	}

	/* Items */
	ul.items {
		li.item {
			/* Checkbox */
			input[type=checkbox] {
				border: solid 1px #ccc;
				border-radius: 2px;
				cursor: pointer;
				font-size: 1.2em;
				margin: 2px 11px 0 0;
				width: 20px;
				height: 20px;
				-webkit-appearance: none;

				&:focus {
					outline: none;
				}

				&:checked {
					background: #444;
					border-color: #444;

					&:hover {
						background: hsl(204, 58%, 34%);
						border-color: hsl(204, 58%, 34%);
					}
				}
			}

			/* Label */
			label {
				color: $item-color;
				cursor: text;
				display: block;
				flex: 1;
				font-size: 1.2em;
				line-height: 1.2em;

				.tag {
					color: $tag-color;
					font-size: .8em;
					text-decoration: none;

					&:hover {
						color: darken($tag-color, 15%);
					}
				}
			}
		}
	}

	/* Search results */
	.results {
		h2 {
			border-bottom: solid 1px #ddd;
			color: #ccc;
			font-size: 1em;
			font-weight: 400;
			margin: 0 0 1em 0;
			padding-bottom: 1px;
		}
	}
}

